
@{
    ViewBag.Title = "NhanVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div ng-app="nvApp" ng-controller="nvCtrl">
        <div class="container">
            <h2>Trang quản lý nhân viên</h2>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend" id="button-addon3">
                            <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#myModal" ng-click="show('')">Thêm mới</button>
                            <button class="btn btn-outline-secondary" type="button" ng-click="reload()">Tìm kiếm</button>
                        </div>
                        <input type="text" class="form-control" ng-model="strTen" placeholder="" aria-label="Example text with two button addons" aria-describedby="button-addon3">
                    </div>
                </div>
            </div>
            <div> Số nhân viên: {{countNhanVien}}</div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên nhân viên</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list_NhanVien">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{item.FullNameNV}}</td>
                        <td>{{item.SoDienThoai}}</td>
                        <td>
                            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-outline-success" ng-click="show(item);">Sửa</button>
                            <button type="button" data-toggle="modal" data-target="#confirm-delete" ng-click="getID(item);" class="btn btn-outline-danger">Xóa</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" ng-show="ID_NhanVien == null">Thêm mới nhân viên</h5>
                        <h5 class="modal-title" ng-show="ID_NhanVien != null">Sửa nhân viên</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="profile-info-row">
                            <div class="profile-info-name">Tên nhân viên<i style="color: red">(*)</i>:</div>
                            <div class="profile-info-value">
                                <input type="text" class="form-control input-sm" id="Ten" ng-model="Ten_NhanVien" tabindex="2">
                                <label class="help-block" id="lblTen" style="display: none"></label>
                            </div>
                            <div class="profile-info-name">Số điện thoại nhân viên<i style="color: red">(*)</i>:</div>
                            <div class="profile-info-value">
                                <input type="text" class="form-control input-sm" id="Sdt" ng-model="Sdt_NhanVien" tabindex="2">
                                <label class="help-block" id="lblSdt" style="display: none"></label>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="Save_NhanVien()">Lưu</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="confirm-delete" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xóa nhân viên</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Bạn có chắc chắn muốn xóa nhân viên: <strong class="red">{{NhanVien.FullNameNV}}</strong>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" ng-click="Delete_NhanVien()">Xóa</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/Asses/js/angular.min.js"></script>

    <script>
        var myApp = angular.module('nvApp', []);
        myApp.controller('nvCtrl', function ($scope, $q, $http, $timeout) {

            $scope.strTen = "";
            $scope.countNhanVien = 0;

            $scope.NhanVien = {};
            $scope.ID_NhanVien = 0;
            $scope.Ten_NhanVien = "";
            $scope.Sdt_NhanVien = "";
            $scope.NgayTao = "";

            $scope.list_NhanVien = [];

            var getInit = function () {
                return $http({
                    method: "POST",
                    url: "/DanhMuc/Count_NhanVien",
                    data: {
                        DieuKien: 1,
                    }
                });
            }

            var getNhanVien = function () {
                return $http({
                    method: "GET",
                    url: "/DanhMuc/Get_NhanVien",
                    params: {
                        pageSize: 1000,
                        pageIndex: 1,
                        strTen: $scope.strTen
                    }
                });
            }

            var init = function () {
                getInit().then(function (res) {
                    $scope.countNhanVien = res.data;
                });

                getNhanVien().then(function (res) {
                    $scope.list_NhanVien = res.data;
                    //console.log($scope.list_NhanVien);
                });
            }

            init();

            var clearData = function () {
                $scope.Ten_NhanVien = "";
                $scope.Sdt_NhanVien = "";
                $scope.NhanVien = {};
            }

            $scope.reload = function () {
                $scope.ID_NhanVien = 0;
                $scope.Ten_NhanVien = "";
                $scope.Sdt_NhanVien = "";
                $scope.NhanVien = {};
                init();
            }

            $scope.show = function (objPB) {
                if (objPB.IDNhanVien != null) {
                    //console.log("Sửa---");
                    $scope.ID_NhanVien = objPB.IDNhanVien;
                    $scope.Ten_NhanVien = objPB.FullNameNV;
                    $scope.Sdt_NhanVien = objPB.SoDienThoai;
                }
                else {
                    $scope.ID_NhanVien = 0;
                    $scope.Ten_NhanVien = "";
                    $scope.Sdt_NhanVien = "";
                }
                console.log($scope.ID_NhanVien);
            }

            $scope.Save_NhanVien = function () {
                if ($scope.ID_NhanVien == 0 || $scope.ID_NhanVien == null) {
                    $scope.NhanVien = {};
                    $scope.NhanVien.FullNameNV = $scope.Ten_NhanVien;
                    $scope.NhanVien.SoDienThoai = $scope.Sdt_NhanVien;
                    console.log($scope.NhanVien);
                    $http({                                 // Thêm nhân viên
                        method: "post",
                        url: "/DanhMuc/Insert_NhanVien",
                        datatype: "json",
                        data: JSON.stringify($scope.NhanVien),
                    }).then(function (res) {
                        $('#myModal').modal('hide');
                        //alert(res.data);
                        alert("Tạo mới thành công!");
                        clearData();
                        init();
                    })
                }
                else {
                    //console.log("Sửa nhân viên");
                    $scope.NhanVien = {};
                    $scope.NhanVien.IDNhanVien = $scope.ID_NhanVien;
                    $scope.NhanVien.FullNameNV = $scope.Ten_NhanVien;
                    $scope.NhanVien.SoDienThoai = $scope.Sdt_NhanVien;
                    $http({                                 // Sửa thông tin nhân viên
                        method: "post",
                        url: "/DanhMuc/Update_NhanVien",
                        datatype: "json",
                        data: JSON.stringify($scope.NhanVien),
                    }).then(function (res) {
                        //console.log(res.data);
                        $('#myModal').modal('hide');
                        alert("Sửa thành thành công!");
                        clearData();
                        init();
                    })
                }
            }

            $scope.getID = function (objNhanVien) {
                $scope.NhanVien.IDNhanVien = objNhanVien.IDNhanVien;
                $scope.NhanVien.FullNameNV = objNhanVien.FullNameNV;
                $scope.NhanVien.SoDienThoai = objNhanVien.SoDienThoai;
            }

            $scope.Delete_NhanVien = function () {
                $http({
                    method: "post",
                    url: "/DanhMuc/Delete_NhanVien",
                    datatype: "json",
                    data: JSON.stringify($scope.NhanVien),
                }).then(function (res) {
                    $('#confirm-delete').modal('hide');
                    alert("Xóa thành thành công!");
                    clearData();
                    init();
                })
            }

        });
    </script>

