@{
    ViewBag.Title = "Thông tin liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    446 Ngô Gia Tự<br />
    phường Tiền An, thành phố Bắc Ninh<br />
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="#">0913 301 869</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>