@{
    ViewBag.Title = "NhapDuLieu";
}

    <div ng-app="ccApp" ng-controller="ccCtrl">
        <div class="container">
            <div class="row">
                <h2 style="padding-bottom:0px;">Trang quản lý hồ sơ</h2>
            </div>
            <div class="row">
                <div class="col div-form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">Từ ngày</div>
                        </div>
                        <input type="date" class="form-control" ng-model="SNgayStart">
                    </div>
                </div>
                <div class="col div-form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">Đến ngày</div>
                        </div>
                        <input type="date" class="form-control" ng-model="SNgayStop">
                    </div>
                </div>
                <div class="col div-form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">Phí công chứng</div>
                        </div>
                        <input class="form-control" type="number" ng-model="SPhiCongChung">
                    </div>
                </div>
                <div class="col div-form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">Phí hoa hồng</div>
                        </div>
                        <input class="form-control" type="number" ng-model="SPhiHoaHong">
                    </div>
                </div>
                <div class="col div-form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">Thông tin bên A</div>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" style="height:38px" ng-model="SInforA"></textarea>
                    </div>
                </div>
                <div class="col div-form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">Thông tin bên B</div>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" style="height:38px" ng-model="SInforB"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col div-form">
                    <div class="form-group">
                        <div class="col">Loại công chứng</div>
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="SNameType">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" ng-repeat="option in list_LoaiCongChung" value="{{option.IDType}}" href="#" ng-click="SgetLcc(option)">{{option.TypeCC}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col div-form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">Nhân viên thực hiện</div>
                        </div>
                        @if (ViewBag.Role == 1)
                            {
                                <div class="input-group">
                                    <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="SFullNameNV">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                         <div class="dropdown-menu">
                                            <a class="dropdown-item" ng-repeat="nv in list_NhanVien" value="{{nv.ID}}" href="#" ng-click="SgetNv(nv)">{{nv.FullName}}</a>
                                         </div>
                                    </div>
                                </div>
                             }
                             else
                                 {
                                    <div class="input-group">
                                        <input type="text" class="form-control" readonly value="@ViewBag.User"/>
                                    </div>
                             }
                    </div>
                </div>
                <div class="col div-form">
                    <div class="form-group">
                        <div class="col">Công chứng viên</div>
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="SFullNameCCV">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" ng-repeat="ccv in list_CongChungVien" value="{{ccv.IDCongChungVien}}" href="#" ng-click="SgetCcv(ccv)">{{ccv.FullNameCCV}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col div-form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">Khách hàng</div>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="STenKhachHang">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" ng-repeat="kh in list_KhachHang" value="{{kh.IDKhachHang}}" href="#" ng-click="SgetKh(kh)">{{kh.TenKhachHang}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col div-form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">Nội dung công chứng</div>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" style="height:38px" ng-model="SContentCongChung"></textarea>
                    </div>
                </div>
            </div>
            <div class="row d-flex flex-row-reverse bd-highlight">
                <button type="button" class="btn btn-warning p-2 bd-highlight btn-sm" ng-click="XoaSearch()" style="margin-left: 5px;">Xóa thông số tìm kiếm</button>
                <button type="button" class="btn btn-primary p-2 bd-highlight btn-sm" ng-click="KetQua()" style="margin-left: 5px;">Tìm kiếm</button>
                <button type="button" class="btn btn-success p-2 bd-highlight btn-sm" ng-click="show('')" data-toggle="modal" data-target="#myModal">Thêm mới</button>
            </div>
            <hr />
            <div class="row">
                <h4 style="padding-right: 10px;padding-bottom: 0px;padding-top: 0px;margin-top:0px;">Thông tin hồ sơ</h4>
            </div>
            <div class="row" style="margin-bottom:3px">
                <div class="col d-flex align-items-center">
                    <span>Tổng số {{row}} bản công chứng. </span><span style="margin-left:5px;margin-right:5px;">Hiển thị</span>
                    <select ng-model="pageSize" ng-change="reload()" ng-init="pageSize='5'">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="col">
                </div>
                <div class="col" style="padding-right:0px;">
                    <nav aria-label="Page navigation example" style="float:right;">
                        <ul class="pagination">
                            <li class="page-item" ng-class="{disabled: currentPage === 1}" ng-click="setPage(1)">
                                <a class="page-link" href="#">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-bar-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0zM4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z" />
                                    </svg>
                                </a>
                            </li>
                            <li class="page-item" ng-class="{disabled: currentPage === 1}" ng-click="setPage(currentPage-1)">
                                <a class="page-link" href="#">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-left" fill="currentColor" >
                                        <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                        <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </a>
                            </li>
                            <li class="page-item" ng-class="{active: currentPage === page}" ng-repeat="page in list track by $index" ng-click="setPage(page)"><a class="page-link" href="#">{{page}}</a></li>
                            <li class="page-item" ng-class="{disabled: currentPage === totalPage}" ng-click="setPage(currentPage+1)">
                                <a class="page-link" href="#">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right" fill="currentColor" >
                                        <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                        <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                </a>
                            </li>
                            <li class="page-item" ng-class="{disabled: currentPage === totalPage}" ng-click="setPage(totalPage)">
                                <a class="page-link" href="#">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-bar-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4.146 3.646a.5.5 0 0 0 0 .708L7.793 8l-3.647 3.646a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0zM11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row" ng-show="row == 0" style="color:red;font-size:30px;" >Không tìm thấy dữ liệu</div>
            <div class="row" style="font-size:13px" ng-show="row != 0">
                <table class="table table-striped">
                    <thread>
                        <th scope="col">STT</th>
                        <th scope="col">Ngày công chứng</th>
                        <th scope="col">Loại công chứng</th>
                        <th scope="col">Phí công chứng</th>
                        <th scope="col">Phí hoa hồng</th>
                        <th scope="col">Khách hàng</th>
                        <th scope="col">Công chứng viên</th>
                        <th scope="col">Nhân viên làm</th>
                        <th scope="col">Chức năng</th>
                    </thread>
                    <tbody>
                        <tr ng-repeat="item in list_CongChung">
                            <th scope="row">{{$index+1+pageSize*(currentPage-1)}}</th>
                            <td>{{item.NgayTao | date:"MM/dd/yyyy"}}</td>
                            <td>{{item.TypeCC}}</td>
                            <td>{{item.PhiCongChung | number}}</td>
                            <td>{{item.PhiHoaHong| number}}</td>
                            <td>{{item.TenKhachHang}}</td>
                            <td>{{item.FullNameCCV}}</td>
                            <td>{{item.FullName}}</td>
                            <td>
                                @*<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-outline-success btn-sm p-2" ng-click="show(item);" style="padding-left: 6px;padding-right: 6px;">Sửa</button>
                                <button type="button" data-toggle="modal" data-target="#confirm-delete" ng-click="getID(item);" class="btn btn-outline-danger btn-sm p-2" style="padding-left: 6px;padding-right: 6px;">Xóa</button>*@
                                <a class="text-warning" href="#" ng-click="show(item);" data-toggle="modal" data-target="#myModal">Sửa</a>
                                <a class="text-danger" href="#" data-toggle="modal" data-target="#confirm-delete" ng-click="show(item)">Xóa</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" ng-show="IDCongChung == 0">Thêm mới hồ sơ</h5>
                        <h5 class="modal-title" ng-show="IDCongChung != 0">Sửa hồ sơ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="lable-bottom">Ngày công chứng<i style="color: red">(*)</i>:</label>
                                        <input type="date" class="form-control" ng-model="NgayTao">
                                        <lable class="label-danger" ng-show='NgayTao == ""' style="color:red"><small>(*)Không được bỏ trống</small></lable>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="lable-bottom">Loại việc công chứng<i style="color: red">(*)</i>:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="NameType">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" ng-repeat="option in list_LoaiCongChung" value="{{option.IDType}}" href="#" ng-click="getLcc(option)">{{option.TypeCC}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <lable class="label-danger" ng-show='NameType == ""' style="color:red"><small>(*)Không được bỏ trống</small></lable>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-left:15px;padding-right:15px;margin-bottom: 10px;">
                                @*<div class="form-group">*@
                                    <label>Nội dung<i style="color: red">(*)</i>:</label>
                                    <textarea class="form-control" aria-label="With textarea" style="height:60px" ng-model="ContentCongChung"></textarea>
                                    <lable class="label-danger" ng-show='ContentCongChung == ""' style="color:red"><small>(*)Không được bỏ trống</small></lable>
                                @*</div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="lable-bottom">Thông tin bên A</label>
                                        <textarea class="form-control" aria-label="With textarea" style="height:60px" ng-model="InforA"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="lable-bottom">Thông tin bên B</label>
                                        <textarea class="form-control" aria-label="With textarea" style="height:60px" ng-model="InforB"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="lable-bottom">Công chứng viên ký<i style="color: red">(*)</i>:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="FullNameCCV">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" ng-repeat="ccv in list_CongChungVien" value="{{ccv.IDCongChungVien}}" href="#" ng-click="getCcv(ccv)">{{ccv.FullNameCCV}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <lable class="label-danger" ng-show='FullNameCCV == ""' style="color:red"><small>(*)Không được bỏ trống</small></lable>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="lable-bottom">Nhân viên thực hiện<i style="color: red">(*)</i>:</label>
                                        @if (ViewBag.Role == 1)
                                        {
                                            <div class="input-group">
                                                <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="FullNameNV">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" ng-repeat="nv in list_NhanVien" value="{{nv.ID}}" href="#" ng-click="getNv(nv)">{{nv.FullName}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <lable class="label-danger" ng-show='FullNameNV == ""' style="color:red"><small>(*)Không được bỏ trống</small></lable>
                                        }
                                        else
                                        {
                                            <div class="input-group">
                                                <input type="text" class="form-control" readonly value="@ViewBag.User"/>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="lable-bottom">Phí công chứng<i style="color: red">(*)</i>:</label>
                                                <input type="number" class="form-control" ng-model="PhiCongChung">
                                                <lable class="label-danger" ng-show='!PhiCongChung' style="color:red"><small>(*)Không được bỏ trống</small></lable>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="lable-bottom">Phí hoa hồng</label>
                                                <input type="number" class="form-control" ng-model="PhiHoaHong">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="lable-bottom">Khách hàng</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" aria-label="Text input with dropdown button" ng-model="TenKhachHang">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" ng-repeat="kh in list_KhachHang" value="{{kh.IDKhachHang}}" href="#" ng-click="getKh(kh)">{{kh.TenKhachHang}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="Save_CongChung()" ng-disabled='NgayTao == ""||NameType == ""||ContentCongChung == ""||FullNameCCV == ""||FullNameNV == ""||!PhiCongChung'>Lưu</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="confirm-delete" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xóa hồ sơ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Bạn có chắc chắn muốn xóa hồ sơ <strong class="red"></strong>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" ng-click="Delete_CongChung()">Xóa</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/Asses/js/angular.min.js"></script>

<script>
    var myApp = angular.module('ccApp', []);
    myApp.controller('ccCtrl', function ($scope, $q, $http, $timeout, $location) {
        //$scope.lstPage = [];    // Hiển thị số trang
        //$scope.pageCount = 0;   // Tổng số trang
        $scope.pageSize = 5;   // Số bản ghi hiển thị đặt mặc định = 10. pageSize = total / pageCount
        $scope.pageIndex = 0;
        $scope.row = 0;

        $scope.list = [];
        $scope.currentPage = 1;
        $scope.totalPage = 0;
        $scope.startPage = 1;
        $scope.endPage = 5;

        $scope.IDCongChung = 0;
        $scope.ContentCongChung = "";
        $scope.IDType = 0;
        $scope.InforA = "";
        $scope.InforB = "";
        $scope.PhiCongChung = 0;
        $scope.PhiHoaHong = 0;
        $scope.IDKhachHang = 0;
        $scope.IDCongChungVien = 0;
        $scope.TenCongChungVien = "";
        $scope.ID = 0;
        $scope.CongChung = {};

        $scope.list_CongChung = [];
        $scope.list_LoaiCongChung = [];
        $scope.list_KhachHang = [];
        $scope.list_CongChungVien = [];
        $scope.list_NhanVien = [];
        $scope.strLcc = "";
        $scope.strTenKh = "";
        $scope.strTenNv = "";
        $scope.strTenCcv = "";

        $scope.NameType = "";
        $scope.TenKhachHang = "";
        $scope.FullNameCCV = "";
        $scope.FullNameNV = "";
        $scope.NgayTao = "";

        //Biến dùng để search
        $scope.SNgayStart = "";
        $scope.SNgayStop = "";
        $scope.SPhiCongChung = 0;
        $scope.SPhiHoaHong = 0;
        $scope.SInforA = "";
        $scope.SInforB = "";
        $scope.SNameType = "";
        $scope.SFullNameNV = "";
        $scope.SFullNameCCV = "";
        $scope.STenKhachHang = "";
        $scope.SContentCongChung = "";
        $scope.SIDType = 0;
        $scope.SIDKhachHang = 0;
        $scope.SIDCongChungVien = 0;
        $scope.SID = 0;


        //var queryString = function (name, url) {
        //    if (!url) url = location.href;
        //    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        //    var regexS = "[\\?&]" + name + "=([^&#]*)";
        //    var regex = new RegExp(regexS);
        //    var results = regex.exec(url);
        //    return results == null ? null : results[1];
        //}
        //var url = window.location.href;
        //$scope.Id = queryString('id', url);
        //Lấy id từ url

        //clear data
        var clearData = function () {
            $scope.IDCongChung = 0;
            $scope.ContentCongChung = "";
            $scope.IDType = 0;
            $scope.InforA = "";
            $scope.InforB = "";
            $scope.PhiCongChung = 0;
            $scope.PhiHoaHong = 0;
            $scope.IDKhachHang = 0;
            $scope.IDCongChungVien = 0;
            $scope.IDNhanVien = 0;
            $scope.CongChung = {};
            $scope.ID = 0;

            $scope.NameType = "";
            $scope.TenKhachHang = "";
            $scope.FullNameCCV = "";
            $scope.FullNameNV = "";
            $scope.NgayTao = "";

            $scope.list_CongChung = [];
        }

        // Đổi ngày
        var parseDate = function (value) {
            if (value) {
                return new Date(parseInt(value.replace("/Date(", "").replace(")/", "")));
            }
            return null;
        }

        //Hàm lấy ra list loại công chứng
        var getlcc = function () {
            return $http({
                method: "GET",
                url: "/DanhMuc/Get_LoaiCongChung",
                params: {
                    pageSize: 1000,
                    pageIndex: 1,
                    strTen: $scope.strLcc
                }
            });
        }

        //Hàm lấy ra list khách hàng
        var getKhachHang = function () {
            return $http({
                method: "GET",
                url: "/DanhMuc/Get_KhachHang",
                params: {
                    pageSize: 1000,
                    pageIndex: 1,
                    strTen: $scope.strTenKh
                }
            });
        }

        //Hàm lấy list công chứng viên
        var getCongChungVien = function () {
            return $http({
                method: "GET",
                url: "/DanhMuc/Get_CongChungVien",
                params: {
                    pageSize: 1000,
                    pageIndex: 1,
                    strTen: $scope.strTenCcv
                }
            });
        }

        //Hàm lấy công chứng mới nhất
        //var getCongChung = function () {
        //    return $http({
        //        method: "GET",
        //        url: "/Home/Get_CongChungNew",
        //        params: {
        //            count: $scope.count,
        //        }
        //    })
        //}

        //Hàm lấy list nhân viên
        var getNhanVien = function () {
            return $http({
                method: "GET",
                url: "/DanhMuc/Get_AccNhanVien",
                params: {
                    pageSize: 1000,
                    pageIndex: 1,
                    strTen: $scope.strTenNv
                }
            });
        }

        // Hàm tìm công chứng theo tham số đầu vào
        var getcc = function () {
            return $http({
                method: "GET",
                url: "/Home/Get_CongChungAll",
                params: {
                    pageIndex: $scope.currentPage,
                    pageSize: $scope.pageSize,
                    NgayStart: $scope.SNgayStart,
                    NgayStop: $scope.SNgayStop,
                    strInforA: $scope.SInforA,
                    strInforB: $scope.SInforB,
                    IDType: $scope.SIDType,
                    strContent: $scope.SContentCongChung,
                    PhiCongChung: $scope.SPhiCongChung,
                    PhiHoaHong: $scope.SPhiHoaHong,
                    IDKhachHang: $scope.SIDKhachHang,
                    IDCongChungVien: $scope.SIDCongChungVien,
                    IDNhanVien: $scope.SID
                }
            });
        }

        var sgetcc = function () {
            return $http({
                method: "GET",
                url: "/Home/Get_CongChungAll",
                params: {
                    pageIndex: $scope.currentPage,
                    pageSize: $scope.pageSize,
                    NgayStart: $scope.SNgayStart,
                    NgayStop: $scope.SNgayStop,
                    strInforA: $scope.SInforA,
                    strInforB: $scope.SInforB,
                    IDType: $scope.SIDType,
                    strContent: $scope.SContentCongChung,
                    PhiCongChung: $scope.SPhiCongChung,
                    PhiHoaHong: $scope.SPhiHoaHong,
                    IDKhachHang: $scope.SIDKhachHang,
                    IDCongChungVien: $scope.SIDCongChungVien,
                    IDNhanVien: $scope.SID
                }
            });
        }

        //Khởi tạo giá trị các biến khi load trang
        var init = function () {
            getlcc().then(function (res) {                          //Lấy list loại công chứng
                $scope.list_LoaiCongChung = res.data;
                //console.log($scope.list_NhanVien);
            });
            getKhachHang().then(function (res) {                    //Lấy list khách hàng
                $scope.list_KhachHang = res.data;
                //console.log($scope.list_KhachHang);
            });
            getCongChungVien().then(function (res) {                //Lấy list công chứng viên
                $scope.list_CongChungVien = res.data;
                //console.log($scope.list_KhachHang);
            });
            getNhanVien().then(function (res) {                     // Lấy list nhân viên
                $scope.list_NhanVien = res.data;
            })
            getcc().then(function (res) {
                angular.forEach(res.data, function (item) {
                    item.NgayTao = parseDate(item.NgayTao);
                });
                //console.log(res.data.length);
                if (res.data.length != 0) {
                    $scope.list_CongChung = res.data;
                    //console.log($scope.list_CongChung);
                    $scope.row = $scope.list_CongChung[0].TotalRow;
                    $scope.totalPage = Math.ceil($scope.row / $scope.pageSize);
                    if ($scope.totalPage < $scope.endPage) {
                        $scope.endPage = $scope.totalPage;
                        for (i = $scope.startPage; i <= $scope.endPage; i++) {
                            $scope.list.push(i);
                        }
                    }
                    else {
                        for (i = $scope.startPage; i <= $scope.endPage; i++) {
                            $scope.list.push(i);
                        }
                    }
                }
                //console.log('row:', $scope.row, 'totalPage:', $scope.totalPage, 'start:', $scope.startPage, 'end:', $scope.endPage);
            })
        }

        var init1 = function () {
            getcc().then(function (res) {
                angular.forEach(res.data, function (item) {
                    item.NgayTao = parseDate(item.NgayTao);
                });
                //console.log(res.data.length);
                if (res.data.length != 0) {
                    $scope.list_CongChung = res.data;
                    $scope.row = $scope.list_CongChung[0].TotalRow;
                    $scope.totalPage = Math.ceil($scope.row / $scope.pageSize);
                    if ($scope.totalPage < $scope.endPage) {
                        $scope.endPage = $scope.totalPage;
                        for (i = $scope.startPage; i <= $scope.endPage; i++) {
                            $scope.list.push(i);
                        }
                    }
                    else {
                        for (i = $scope.startPage; i <= $scope.endPage; i++) {
                            $scope.list.push(i);
                        }
                    }
                }
                //console.log('row:', $scope.row, 'totalPage:', $scope.totalPage, 'start:', $scope.startPage, 'end:', $scope.endPage);
            })
        }

        init();

        // Lấy tên loại công chứng theo id công chứng
        $scope.SgetLcc = function (obj) {
            $scope.SNameType = obj.NameType;
            $scope.SIDType = obj.IDType;
        }

        $scope.getLcc = function (obj) {
            $scope.NameType = obj.NameType;
            $scope.IDType = obj.IDType;
        }

        // Lấy tên khách hàng theo id
        $scope.SgetKh = function (obj) {
            $scope.STenKhachHang = obj.TenKhachHang;
            $scope.SIDKhachHang = obj.IDKhachHang;
        }

        $scope.getKh = function (obj) {
            $scope.TenKhachHang = obj.TenKhachHang;
            $scope.IDKhachHang = obj.IDKhachHang;
        }

        // Lấy tên công chứng viên theo ID
        $scope.SgetCcv = function (obj) {
            $scope.SFullNameCCV = obj.FullNameCCV;
            $scope.SIDCongChungVien = obj.IDCongChungVien;
        }

        $scope.getCcv = function (obj) {
            $scope.FullNameCCV = obj.FullNameCCV;
            $scope.IDCongChungVien = obj.IDCongChungVien;
        }

        // Lấy tên nhân viên theo id
        $scope.SgetNv = function (obj) {
            $scope.SFullNameNV = obj.FullName;
            $scope.SID = obj.ID;
        }

        $scope.getNv = function (obj) {
            $scope.FullNameNV = obj.FullName;
            $scope.ID = obj.ID;
        }

        $scope.reload = function () {
            //clearData();
            $scope.list = [];
            $scope.startPage = 1;
            $scope.endPage = 5;
            $scope.currentPage = 1;
            init1();
        }

        $scope.show = function (obj) {
            if (obj.IDCongChung != null) {
                //console.log("Sửa---");
                $scope.IDCongChung = obj.IDCongChung;
                $scope.ContentCongChung = obj.ContentCongChung;
                $scope.IDType = obj.IDType;
                $scope.NameType = obj.TypeCC;
                $scope.InforA = obj.InforA;
                $scope.InforB = obj.InforB;
                $scope.PhiCongChung = obj.PhiCongChung;
                $scope.PhiHoaHong = obj.PhiHoaHong;
                $scope.IDKhachHang = obj.IDKhachHang;
                $scope.TenKhachHang = obj.TenKhachHang;
                $scope.IDCongChungVien = obj.IDCongChungVien;
                $scope.FullNameCCV = obj.FullNameCCV;
                $scope.ID = obj.IDNhanVien;
                $scope.FullNameNV = obj.FullName;
                $scope.NgayTao = obj.NgayTao;
                //console.log(obj);
            }
            else {
                $scope.IDCongChung = 0;
                $scope.ContentCongChung = "";
                $scope.IDType = 0;
                $scope.NameType = "";
                $scope.InforA = "";
                $scope.InforB = "";
                $scope.PhiCongChung = 0;
                $scope.PhiHoaHong = 0;
                $scope.IDKhachHang = 0;
                $scope.TenKhachHang = "";
                $scope.IDCongChungVien = 0;
                $scope.FullNameCCV = "";
                $scope.ID= 0;
                $scope.FullNameNV = "";
                $scope.NgayTao = "";
                //console.log(obj);
            }
        }

        $scope.Save_CongChung = function () {
            if ($scope.IDCongChung == 0 || $scope.IDCongChung == null) {
                $scope.CongChung.ContentCongChung = $scope.ContentCongChung;
                $scope.CongChung.IDType = $scope.IDType;
                $scope.CongChung.InforA = $scope.InforA;
                $scope.CongChung.InforB = $scope.InforB;
                $scope.CongChung.PhiCongChung = $scope.PhiCongChung;
                $scope.CongChung.PhiHoaHong = $scope.PhiHoaHong;
                $scope.CongChung.IDKhachHang = $scope.IDKhachHang;
                $scope.CongChung.IDCongChungVien = $scope.IDCongChungVien;
                $scope.CongChung.IDNhanVien = $scope.ID;
                $scope.CongChung.NgayTao = $scope.NgayTao;
                //console.log($scope.CongChung);
                $http({                                 // Thêm nhân viên
                    method: "post",
                    url: "/Home/Insert_CongChung",
                    datatype: "json",
                    data: JSON.stringify($scope.CongChung),
                }).then(function (res) {
                    $('#myModal').modal('hide');
                    alert(res.data);
                    clearData();
                    $scope.list = [];
                    $scope.startPage = 1;
                    $scope.endPage = 5;
                    $scope.currentPage = 1;
                    init1();
                    
                })
            }
            else {
                    $scope.CongChung.IDCongChung = $scope.IDCongChung;
                    $scope.CongChung.ContentCongChung = $scope.ContentCongChung;
                    $scope.CongChung.IDType = $scope.IDType;
                    $scope.CongChung.InforA = $scope.InforA;
                    $scope.CongChung.InforB = $scope.InforB;
                    $scope.CongChung.PhiCongChung = $scope.PhiCongChung;
                    $scope.CongChung.PhiHoaHong = $scope.PhiHoaHong;
                    $scope.CongChung.IDKhachHang = $scope.IDKhachHang;
                    $scope.CongChung.IDCongChungVien = $scope.IDCongChungVien;
                    $scope.CongChung.IDNhanVien= $scope.ID;
                    $scope.CongChung.NgayTao = $scope.NgayTao;
                    //console.log($scope.CongChung);
                    $http({                                 
                        method: "post",
                        url: "/Home/Update_CongChung",
                        datatype: "json",
                        data: JSON.stringify($scope.CongChung),
                    }).then(function (res) {
                        $('#myModal').modal('hide');
                        alert(res.data);
                        //$scope.isAdd = false;
                        clearData();
                        //reload();
                        $scope.list = [];
                        $scope.startPage = 1;
                        $scope.endPage = 5;
                        $scope.currentPage = 1;
                        init1();
                        
                    })
            }
        }

        $scope.Delete_CongChung = function () {
            //console.log("Thực hiện xóa");
            $scope.CongChung.IDCongChung = $scope.IDCongChung;
            $scope.CongChung.ContentCongChung = $scope.ContentCongChung;
            $scope.CongChung.IDType = $scope.IDType;
            $scope.CongChung.InforA = $scope.InforA;
            $scope.CongChung.InforB = $scope.InforB;
            $scope.CongChung.PhiCongChung = $scope.PhiCongChung;
            $scope.CongChung.PhiHoaHong = $scope.PhiHoaHong;
            $scope.CongChung.IDKhachHang = $scope.IDKhachHang;
            $scope.CongChung.IDCongChungVien = $scope.IDCongChungVien;
            $scope.CongChung.IDNhanVien = $scope.IDNhanVien;
            $scope.CongChung.NgayTao = $scope.NgayTao;
            //console.log($scope.CongChung);
            $http({
                method: "post",
                url: "/Home/Delete_CongChung",
                datatype: "json",
                data: JSON.stringify($scope.CongChung),
            }).then(function (res) {
                $('#confirm-delete').modal('hide');
                alert(res.data);
                clearData();
                $scope.list = [];
                $scope.startPage = 1;
                $scope.endPage = 5;
                $scope.currentPage = 1;
                init1();
            })
        }

        $scope.XoaSearch = function () {
            $scope.SNgayStart = "";
            $scope.SNgayStop = "";
            $scope.SPhiCongChung = 0;
            $scope.SPhiHoaHong = 0;
            $scope.SInforA = "";
            $scope.SInforB = "";
            $scope.SNameType = "";
            $scope.SFullNameNV = "";
            $scope.SFullNameCCV = "";
            $scope.STenKhachHang = "";
            $scope.SContentCongChung = "";
            $scope.SIDType = 0;
            $scope.SIDKhachHang = 0;
            $scope.SIDCongChungVien = 0;
            $scope.SID = 0;
        }

        $scope.KetQua = function () {
            $scope.list = [];
            $scope.startPage = 1;
            $scope.endPage = 5;
            $scope.currentPage = 1;
            sgetcc().then(function (res) {
                angular.forEach(res.data, function (item) {
                    item.NgayTao = parseDate(item.NgayTao);
                });
                //console.log(res.data.length);
                if (res.data.length != 0) {
                    $scope.list_CongChung = res.data;
                    $scope.row = $scope.list_CongChung[0].TotalRow;
                    $scope.totalPage = Math.ceil($scope.row / $scope.pageSize);
                    if ($scope.totalPage < $scope.endPage) {
                        $scope.endPage = $scope.totalPage;
                        for (i = $scope.startPage; i <= $scope.endPage; i++) {
                            $scope.list.push(i);
                        }
                    }
                    else {
                        for (i = $scope.startPage; i <= $scope.endPage; i++) {
                            $scope.list.push(i);
                        }
                    }
                }
                //console.log('row:', $scope.row, 'totalPage:', $scope.totalPage, 'start:', $scope.startPage, 'end:', $scope.endPage);
            });
        }

        $scope.setPage = function (page) {
            if (page === $scope.endPage && page !== $scope.totalPage) {
                $scope.startPage = page - 1;
                
                $scope.endPage = $scope.startPage + 4;
                if ($scope.endPage > $scope.totalPage) {
                    $scope.endPage = $scope.totalPage;
                }
                $scope.list = [];
                for (var i = $scope.startPage; i <= $scope.endPage; i++) {
                    $scope.list.push(i);
                }
            }
            if (page === $scope.startPage && page !== 1) {
                $scope.endPage = page + 1;
                $scope.startPage = $scope.endPage - 4;
                $scope.list = [];
                for (var i = $scope.startPage; i <= $scope.endPage; i++) {
                    $scope.list.push(i);
                }
            }
            if (page === $scope.totalPage) {
                $scope.startPage = $scope.totalPage - 4 + 1;
                if ($scope.startPage <= 0) {
                    $scope.startPage = 1;
                }
                $scope.endPage = $scope.totalPage;
                $scope.list = [];
                for (var i = $scope.startPage; i <= $scope.endPage; i++) {
                    $scope.list.push(i);
                }
            }
            if (page === 1) {
                $scope.startPage = 1;
                if ($scope.endPage > 5) {
                    $scope.endPage = 5;
                }
                
                $scope.list = [];
                for (var i = $scope.startPage; i <= $scope.endPage; i++) {
                    $scope.list.push(i);
                }
            }
            $scope.currentPage = page;
            $scope.pageIndex = page - 1;
            getcc().then(function (res) {
                angular.forEach(res.data, function (item) {
                    item.NgayTao = parseDate(item.NgayTao);
                });
                if (res.data.length != 0) {
                    $scope.list_CongChung = res.data;
                    $scope.row = $scope.list_CongChung[0].TotalRow;
                }
            });
            console.log('star:', $scope.startPage, 'current:', $scope.currentPage, 'end:', $scope.endPage);
        }

    })
</script>